<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blood Donor List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>List of Blood Donors</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Blood Type</th>
                <th>Contact Info</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="bloodDonor : ${bloodDonors}">
                <td th:text="${bloodDonor.id}"></td>
                <td th:text="${bloodDonor.name}"></td>
                <td th:text="${bloodDonor.bloodType}"></td>
                <td th:text="${bloodDonor.contactInfo}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
